// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

.page-background {
    background-image: url('../img/background-image.jpg');
    background-repeat: no-repeat;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    h2 {
        font-size: 50px;
    }
}

.red-button {
    display: flow-root;
    height: 57px;
    width: 189px;
    border-radius: 28.5px;
    background-color: $red-button;
    border-color: $red-button;
    &:hover,
    &:active,
    &:focus {
        background-color: $red-button-hover;
        border-color: $red-button-hover;
    }
    .suscribete {
        height: 17px;
        width: 91px;
        color: white;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-align: center;
    }
}

.center {
    margin: 0 auto;
}

.modal-dialog,
.modal-show {
    .modal-content {
        font-family: Helvetica;
        padding: 71px 65px;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
        .close-button-holder {
            position: relative;
            .close-button {
                position: absolute;
                right: -55px;
                z-index: 9;
                font-size: 16px;
                color: $red-button;
                font-weight: 900;
                top: -60px;
                background-color: transparent;
            }
        }
        div {
            margin: 0;
            padding: 0;
        }
        div.ml-32 {
            margin-left: 32px;
            margin-top: 20px;
        }
        div.form-group {
            margin-bottom: 1rem;
        }
        div.form-check {
            padding-left: 1.25rem;
        }
        .black-logo {
            height: 29px;
            width: 78px;
            -webkit-mask-image: url('../img/logo.svg');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-image: url('../img/logo.svg');
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: black;
            color: black;
        }
        .offer-text {
            color: black;
            font-size: 80px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 96px;
        }
        .inbox-text {
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
            margin: 0;
            padding: 0;
        }
        .line {
            box-sizing: border-box;
            height: 3px;
            width: 150px;
            border-bottom: 1px solid $grey-line;
            box-sizing: border-box;
            margin: 10px 0 0 15px;
            padding: 0;
        }
        .privicy-policy {
            height: 14px;
            width: 221px;
            color: #666666;
            font-family: Helvetica;
            font-size: 12px;
            font-style: oblique;
            line-height: 14px;
            .privicy-red-text {
                color: $red-button
            }
        }
        .red-button {
            margin-top: 15px;
            height: 38px;
            width: 127px;
            text-align: center;
            .suscribete {
                height: 13px;
                width: 71px;
                font-size: 11px;
                font-weight: bold;
                line-height: 13px;
                text-align: center;
            }
            .loading {
                height: 16px;
                width: 16px;
                -webkit-mask-image: url('../img/loading.svg');
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                mask-image: url('../img/logo.svg');
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: white;
                animation: hideshow 1s ease infinite;
                margin: 0 auto;
                display: none;
            }
        }
    }
}